{% extends 'index.html' %}

{% block content %}
<script type='text/javascript' src="{{ url_for('static', filename='javascript/keys.js') }}"></script>
<script>
    var key = keys.fb_key;
    window.fbAsyncInit = function() {
      FB.init({
        appId            : key,
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v6.0'
      });
    };
  </script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/share_site.js') }}"></script>

<div id="about">
    <h1>About Me</h1>
    <br>
    <h3>Who made this website?</h3>
    <p>Hey! I'm Aniruddha Murali, and I'm a 19 year-old freshman at Georgia Tech studying computer science.</p>
    <br>
    <h3>Why did I make this website?</h3>
    <p>
        After seeing how widespread and devastating the impact from COVID-19 has been, I wanted to see if there
        was anything I could do to help people out. Recently, I've been learning a lot about data visualization and web
        development, and I wanted to see if I could make something that people would find useful in these difficult times.
        My goal with this website was to provide real-time information on COVID-19 so people can stay up-to-date. I hope
        you're finding it useful!
    </p>
    <br>
    <br>
    <div id="links" class="row">
        <div id="contact" class="flex-fill">
            <h3>Follow or contact me!</h3>
            <p>Email: aniruddha.murali@gmail.com</p>
            <span style="background-color: black;">
                <a href="https://www.instagram.com/aniruddhamurali/" target="_blank"><i class="fab fa-instagram-square fa-3x"></i></a>
                <a href="https://www.linkedin.com/in/aniruddhamurali/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
                <!--
                <a class="twitter-follow-button" href="https://twitter.com/AniruddhaMurali" data-show-count="false" data-size="large">Follow @TwitterDev</a>
                -->
                <a href="https://twitter.com/AniruddhaMurali" target="_blank"><i class="fab fa-twitter-square fa-3x" ></i></a>
            </span>
        </div>
        <div id="share" class="flex-fill">  
            <h3>Share this website with others!</h3>
            <p>Help others stay up-to-date!</p>
            <span>
                <div class="fb-share-button" data-href="https://www.your-domain.com/your-page.html" data-layout="button_count" data-size="large"></div>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-count="horizontal" data-show-count="true">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </span>
        </div>
        <!-- Prevent elements coming afterward from floating -->
        <div style="clear: both;"></div>
    </div>
</div>


<style>
    #about h3 {
        color: #1ba0e3;
        text-align: center;
    }
    #about h1 {
        color: white;
        text-align: center;
    }
    #about p {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    #contact {
        width: 50%;
        float: left;
    }
    #share {
        width: 50%;
        float: right;
    }

    .fa-instagram-square {
        color: transparent;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
    }
    .fa-linkedin {
        color: #0e76a8;
    }
    .fa-facebook-square {
        color: #3b5998;
    }
    .fa-twitter-square {
        color: #00acee;
    }
    .fab {
        margin: 5px;
    }

    #about span {
        display: table;
        margin: 0 auto;
    }
</style>

 <!-- Font Awesome JS -->
 <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
 <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
 


{% endblock %}