{% extends 'index.html' %}

{% block content %}

{% include 'global_stats.html' %}

<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/globe_map' %} class="active" {% endif %}>
            <a href="{{ url_for('globe_map') }}">Orthographic Heatmap</a>
        </button>
        <button type="button" class="btn btn-primary active">Bubble Map</button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/global_data' %} class="active" {% endif %}>
            <a href="{{ url_for('global_data') }}">Data</a>
        </button>
    </div>
</div>

{% include 'plots/global-bubble-map.html' %}
{% endblock %}