{% extends 'index.html' %}

{% block content %}

{% include 'global_stats.html' %}

<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/globe_map' %} class="active" {% endif %}>
            <a href="{{ url_for('globe_map') }}">3D Heatmap</a>
        </button>
        <button type="button" class="btn btn-primary active">Bubble Map</button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/global_data' %} class="active" {% endif %}>
            <a href="{{ url_for('global_data') }}">Data</a>
        </button>
    </div>
</div>
<br>

<div class="plot" style="width: auto;">
    {% include 'plots/global-bubble-map.html' %}
</div>


<style>
    h5 {
        color: #1ba0e3;
        text-align: center;
    }
    .plot {
        padding-top: 0px;
    }

    @media (max-width: 768px) {
        .plot {
            margin-bottom: -55%;
        }

        .geolayer {
            transform: scale(1.34, 1.5) translate(-22%, -38%);
        }
        .slider-container, .menulayer {
            transform: translateY(-220px);
        }
        .plotly-graph-div, .plot-container, .svg-container, svg {
            height: 400px;
        }
        
    }
    
</style>

<script type="text/javascript">
    $(document).ready(function () {
        // Keep global cases tab active
        $("#globe_map").attr('id', 'coronavirus_bubble_map');
        
        // Get width of screen
        var screenWidth = function checkScreenSize(){
            var newWindowWidth = $(window).width();
            return newWindowWidth;
        }

        // Make sure plot stays centered when sidebar toggles
        $('#sidebarCollapse, #sidebarCollapse2').click(function () {
            var width = screenWidth();
            if (width > 768) {
                if ($('#sidebar').hasClass('active')) {
                    $('.plot').css({'margin-left':'0', 'margin-right':'0', 'transition':'0.3s'});
                } else {
                    $('.plot').css({'margin-right':'125px', 'margin-left':'125px', 'transition':'0.3s'});
                }
            }
        });
    });
</script>



{% endblock %}