{% extends 'index.html' %}

{% block content %}

<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/us_states_map' %} class="active" {% endif %}>
            <a href="{{ url_for('us_states_map') }}">States</a>
        </button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/us_counties_map' %} class="active" {% endif %}>
            <a href="{{ url_for('us_counties_map') }}">Counties</a>
        </button>
        <button type="button" class="btn btn-primary active">Data</button>
    </div>
</div>
<br>
<div class="text-center" id="county_data_table"></div>

<style>
    #county_data_table {
        width: 75%;
        margin: auto;
    }
    #county_data_table th:hover {
        background-color: #007bff;
        border-color: #007bff;
        transition: 0.3s;
        cursor: pointer;
    }
    #county_data_table th:active {
        background-color: #6610f2;
        border-color: #6610f2;
    }
    #county_data_table td {
        color: white;
    }
    
    #county_data_table th {
        color: white;
        border-bottom-color: white;
        border-bottom: 1px solid;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // Keep us cases tab active
        $("#us_states_map").attr('id', 'county_data'); 
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
<script src="{{ url_for('static', filename='javascript/county_data.js') }}"></script>

{% endblock %}