{% extends 'index.html' %}

{% block content %}

<div id="info">
    <h3>What is COVID-19?</h3>
    <p>
        Coronaviruses are a type of virus - COVID-19 is the newly discovered type of coronavirus that has caused 
        the recent outbreak in respiratory illness.
    </p>
    <br>

    <h3>How does COVID-19 spread?</h3>
    <p>
        As of now, researchers know that COVID-19 is spread through droplets released into the air when an 
        infected person coughs or sneezes. These droplets usually only travel a few feet and fall onto surfaces 
        in a few seconds — this is why social distancing helps limit the spread of the disease.
    </p>
    <br>

    <h3>How can I prevent myself from getting infected?</h3>
    <ul>
        <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
        <li>Maintain at least 1 metre distance between you and people coughing or sneezing.</li>
        <li>Avoid touching your face.</li>
        <li>Cover your mouth and nose when coughing or sneezing.</li>
        <li>Stay home if you feel unwell.</li>
        <li>Refrain from smoking and other activities that weaken the lungs.</li>
        <li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li>
    </ul>
    <br>

    <h3>What are the symptoms?</h3>
    <ul>
        <li>Cough</li>
        <li>Fever</li>
        <li>Tiredness</li>
        <li>Shortness of breath</li>
        <li>Muscle aches</li>
        <li>Sore throat</li>
        <li>Unexplained loss of taste or smell</li>
        <li>Diarrhea</li>
        <li>Headache</li>
    </ul>
    <p>
        People with only mild symptoms should self-isolate and contact their medical provider or a COVID-19 
        information line for advice on testing and referral.
    </p>
    <p>
        People with fever, cough or difficulty breathing should call their doctor and seek medical attention.
    </p>
    <br>

    <h3>Where did the outbreak start from?</h3>
    <p>
        COVID-19 was first detected in Wuhan, China in December of 2019. Many people hypothesize that the disease
        started from a seafood market in Wuhan because some people who visited the market developed viral pneumonia 
        caused by COVID-19. However, a study that came out on Jan. 25, 2020, notes that the individual with the first 
        reported case became ill had no link to the seafood market.
    </p>
    <p>For now, the actual origin of the disease has yet to be figured out.</p>
    <br>

    <h3>What is the incubation period for COVID-19?</h3>
    <p>It appears that symptoms are showing up in people within 14 days of exposure to the virus.</p>
    <br>

    <h3>Are there any treatments for COVID-19?</h3>
    <p>
        As of now, there isn't a specific treatment for the virus. People who have COVID-19 should be treated with 
        supportive measures that relieve symptoms. For severe cases, there may be additional options for treatment, 
        including research drugs and therapeutics.</p>
    <br>
    <br>

    <div class="text-center">
        <h3>Sources</h3>
        <p><a href="https://www.who.int/health-topics/coronavirus" target="_blank">WHO</a></p>
        <p><a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus" target="_blank">John Hopkins Medicine</a></p>
    </div>
</div>


<style>
    #info {
        /*width: 95%;*/
        margin-left: 25px;
        margin-right: 20px;
    }
    li {
        color: white;
    } 
    #info h3 {
        color: #1ba0e3;
        
    }
    
    .text-center p:hover {
        color: deepskyblue;
    }
</style>

{% endblock %}