{% extends 'index.html' %}

{% block content %}

<div id="sources" class="text-center">
    <h2>Where did I get the data?</h2>
    <br>
    <p>
        Multiple sources were used to visualize and display the data on this website.
        Here are the sources listed by category :
    </p>
    <table class="table table-bordered tabl-sm">
        <thead class="thead-dark">
            <th>Type of Data</th>
            <th>Data Source(s)</th>
            <th>Link(s) to Data</th>
        </thead>
        <tr>
            <td>Global cases, deaths, and recoveries</td>
            <td>Johns Hopkins University Center for Systems Science and Engineering</td>
            <td><a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data" target="_blank"><i class="fab fa-github fa-2x"></i></a></td>
        </tr>
        <tr>
            <td>U.S. state and county case data</td>
            <td>Johns Hopkins University Center for Systems Science and Engineering</td>
            <td><a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data" target="_blank"><i class="fab fa-github fa-2x"></i></a></td>
        </tr>
        <tr>
            <td>COVID-19 tests per country</td>
            <td>Our World In Data</td>
            <td><a href="https://github.com/owid/covid-19-data/tree/master/public/data" target="_blank"><i class="fab fa-github fa-2x"></i></a></td>
        </tr>
        <tr>
            <td>Recent news</td>
            <td>News API</td>
            <td><a href="https://newsapi.org/" target="_blank"><i class="fas fa-external-link-alt fa-2x"></i></a></td>
        </tr>
        <tr>
            <td>US hospital resources needed</td>
            <td>
                University of Washington's Institute for Health Metrics and Evaluation (IHME)
                <br>
                <br>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
            </td>
            <td><a href="http://www.healthdata.org/covid/data-downloads" target="_blank"><i class="fas fa-external-link-alt fa-2x"></i></a></td>
        </tr>
        <tr>
            <td>US hospital resource capacity data</td>
            <td>CovidCareMap</td>
            <td><a href="https://github.com/covidcaremap/covid19-healthsystemcapacity" target="_blank"><i class="fab fa-github fa-2x"></i></a></td>
        </tr>
        <tr>
            <td>Nearby testing centers</td>
            <td>Google</td>
            <td><a href="https://www.google.com/search?q=covid%2019%20testing%20centers" target="_blank"><i class="fab fa-google fa-2x"></i></a></td>
        </tr>
        <tr>
            <td>Mortality Risk Data</td>
            <td>Nexoid</td>
            <td><a href="https://www.covid19survivalcalculator.com/en/download" target="_blank"><i class="fas fa-external-link-alt fa-2x"></i></a></td>
        </tr>
    </table>
</div>

<style>
    h2, td {
        color: white;
    }
    #sources th {
        color: white;
        border-bottom-color: white;
        border-bottom: 1px solid;
    }
    #sources {
        width: 95%;
        margin: auto;
    }
</style>

{% endblock %}