{% extends 'index.html' %}

{% block content %}

{% include 'global_stats.html' %}


<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary active">Orthographic Heatmap</button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/coronavirus_bubble_map' %} class="active" {% endif %}>
            <a href="{{ url_for('coronavirus_bubble_map') }}"> Bubble Map</a>
        </button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/global_data' %} class="active" {% endif %}>
            <a href="{{ url_for('global_data') }}">Data</a>
        </button>
    </div>
</div>


<div class="plot" style="width: auto;">
    {% include 'plots/global-coronavirus-cases.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        // Make sure plot stays centered when sidebar toggles
        $('#sidebarCollapse').click(function () {
            if ($('#sidebar').hasClass('active')) {
                $('.plot').css({'margin-left':'0', 'margin-right':'0', 'transition':'0.3s'});
            } else {
                $('.plot').css({'margin-right':'125px', 'margin-left':'125px', 'transition':'0.3s'});
            }
        });
    });
</script>

{% endblock %}