{% extends 'index.html' %}

{% block content %}

{% include 'global_stats.html' %}


<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary active">3D Heatmap</button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/coronavirus_bubble_map' %} class="active" {% endif %}>
            <a href="{{ url_for('coronavirus_bubble_map') }}"> Bubble Map</a>
        </button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/global_data' %} class="active" {% endif %}>
            <a href="{{ url_for('global_data') }}">Data</a>
        </button>
    </div>
</div>
<br>

<div class="plot" style="width: auto;">
    {% include 'plots/global-coronavirus-cases.html' %}
</div>


<style>
    h5 {
        color: #1ba0e3;
        text-align: center;
    }
    .plot {
        padding-top: 0px;
    }

    @media (max-width: 767px) {
        .plot {
            margin-bottom: -55%;
        }
        .geolayer {
            transform: scale(1.8) translateY(-47%) translateX(-22%);
        }
        .plotly-graph-div, .plot-container, .svg-container, svg {
            height: 400px;
        }
    }
</style>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        // Get width of screen
        var screenWidth = function checkScreenSize(){
            var newWindowWidth = $(window).width();
            return newWindowWidth;
        }

        // Get height of screen
        var screenHeight = function checkScreenSize(){
            var newWindowHeight = $(window).height();
            return newWindowHeight;
        }

        // Make sure plot stays centered when sidebar toggles
        $('#sidebarCollapse, #sidebarCollapse2').click(function () {
            var width = screenWidth();
            var height = screenHeight();
            if (width > 768 && height > 768) {
                if ($('#sidebar').hasClass('active')) {
                    $('.plot').css({'margin-left':'0', 'margin-right':'0', 'transition':'0.3s'});
                } else {
                    $('.plot').css({'margin-right':'125px', 'margin-left':'125px', 'transition':'0.3s'});
                }
            }
        });
    });
</script>

{% endblock %}