{% extends 'index.html' %}

{% block content %}

{% include 'global_stats.html' %}

<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/globe_map' %} class="active" {% endif %}>
            <a href="{{ url_for('globe_map') }}">Orthographic Heatmap</a>
        </button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/coronavirus_bubble_map' %} class="active" {% endif %}>
            <a href="{{ url_for('coronavirus_bubble_map') }}"> Bubble Map</a>
        </button>
        <button type="button" class="btn btn-primary active">Data</button>
    </div>
</div>
<br>
<div class="text-center" id="global_data"></div>



<style>
    #global_data {
        width: 75%;
        margin: auto;
    }
    #global_data th:hover {
        background-color: #007bff;
        border-color: #007bff;
        transition: 0.3s;
        cursor: pointer;
    }
    #global_data th:active {
        background-color: #6610f2;
        border-color: #6610f2;
    }
    #global_data td {
        color: white;
    }
    #global_data th {
        color: white;
        border-bottom-color: white;
        border-bottom: 1px solid;
    }
</style>

<script src="{{ url_for('static', filename='javascript/global_data.js') }}"></script>

{% endblock %}