{% extends 'index.html' %}

{% block content %}

<h2 class="title">Mortality Calculator</h2>
<br>
<br>
<form id="needs-validation" novalidate>
    <div class="form-row">
        <div class="from-group col-md-2">
            <label class="mr-sm-2" for="sex">Sex</label>
            <select class="custom-select mr-sm-2" id="sex" name="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label class="mr-sm-2" for="age">Age Group</label>
            <select class="custom-select mr-sm-2" id="age" name="age">
                <option value="0_10">0-9 years</option>
                <option value="10_20">10-19 years</option>
                <option value="20_30">20-29 years</option>
                <option value="30_40">30-39 years</option>
                <option value="40_50">40-49 years</option>
                <option value="50_60">50-59 years</option>
                <option value="60_70">60-69 years</option>
                <option value="70_80">70-79 years</option>
                <option value="80_90">80-89 years</option>
                <option value="90_100">90-99 years</option>
                <option value="100_110">100 years or older</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="height">Height (cm)</label>
            <input type="text" class="form-control" id="height" name="height" placeholder="Height" required>
            <div class="invalid-feedback">
                Please provide your height.
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="weight">Weight (kg)</label>
            <input type="text" class="form-control" id="weight" name="weight" placeholder="Weight" required>
            <div class="invalid-feedback">
                Please provide your weight.
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="mr-sm-2" for="blood">Blood Type</label>
            <select class="custom-select mr-sm-2" id="blood" name="blood_type">
                <option value="unknown">I don't know</option>
                <option value="op">O+ (O Positive)</option>
                <option value="on">O- (O Negative)</option>
                <option value="ap">A+ (A Positive)</option>
                <option value="an">A- (A Negative)</option>
                <option value="bp">B+ (B Positive)</option>
                <option value="bn">B- (B Negative)</option>
                <option value="abp">AB+ (AB Positive)</option>
                <option value="abn">AB- (AB Negative)</option>
            </select>
        </div>
    </div>
    <br>

    <h2>Health Factors</h2>
    <br>
    <div class="form-row">
    <div class="form-group col-md-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="covidPositive" name="covid19_positive" value="1">
            <label class="form-check-label" for="covidPositive">Tested positive for COVID-19</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="covidSymptoms" name="covid19_symptoms" value="1">
            <label class="form-check-label" for="covidSymptoms">Has COVID-19 symptoms</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="covidContact" name="covid19_contact" value="1">
            <label class="form-check-label" for="covidContact">Been in contact with someone who has COVID-19</label>
        </div>
    </div>
    <br>

    <div class="form-group col-md-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="asthma" name="asthma" value="1">
            <label class="form-check-label" for="asthma">Asthma</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="kidneyDisease" name="kidney_disease" value="1">
            <label class="form-check-label" for="kidneyDisease">Kidney Disease</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="immunoCompromised" name="compromised_immune" value="1">
            <label class="form-check-label" for="immunoCompromised">Compromised immune system</label>
        </div>        
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="heartDisease" name="heart_disease" value="1">
            <label class="form-check-label" for="heartDisease">Heart Disease</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="lungDisease" name="lung_disease" value="1">
            <label class="form-check-label" for="lungDisease">Lung Disease</label>
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="diabetes" name="diabetes" value="1">
            <label class="form-check-label" for="diabetes">Diabetes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="hiv" name="hiv_positive" value="1">
            <label class="form-check-label" for="hiv">HIV Positive</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="hypertension" name="hypertension" value="1">
            <label class="form-check-label" for="hypertension">Hypertension (high blood pressure)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="other" name="other_chronic" value="1">
            <label class="form-check-label" for="other">Other chronic illnesses</label>
        </div>
    </div>
    </div>

    <br>
    <div class="button">
        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
    </div>
</form>
<br>
<br>
<div id="result"></div>

<style>
    h1, h2 {
        text-align: center;
        color: white;
    }
    label, h2 {
        color: white;
    }
    .form-check {
        padding-bottom: 3px;
        margin-left: 20%;
    }
    form .button {
        text-align: center;
    }
    form {
        padding: 0 20px;
    }
</style>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{ url_for('static', filename='javascript/mortality_calc_form.js') }}"></script>

{% endblock %}