{% extends 'index.html' %}

{% block content %}


<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary active">Plots</button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/testing_data' %} class="active" {% endif %}>
            <a href="{{ url_for('testing_data') }}">Data</a>
        </button>
    </div>
</div>


<div class="plot" style="width: auto;">
    {% include 'plots/testing-plots.html' %}
</div>


<div class="small-12 text-center">
    <small>
        <u>Note:</u> Some countries do not have data on daily changes in the
        total number of tests done per 1 thousand people and/or the cumulative
        total number of tests done per 1 thousand people. <br>
        Some countries also had multiple sources stating different numbers of
        tests, so all sources are included in these plots. Look at data table for more details.
    </small>
</div>


<!--
<small>
    Note: Some countries do not have data on daily changes in the
    total number of tests done per 1 thousand people and/or the cumulative
    total number of tests done per 1 thousand people. <br>
    Some countries also had multiple sources stating different numbers of
    tests, so all sources are included in these plots. Look at data table for more details.
</small>
-->

<style>
    .small-12 {
        color: lightgray;
        padding: 0 20px;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        // Make sure plot stays centered when sidebar toggles
        $('#sidebarCollapse, #sidebarCollapse2').click(function () {
            if ($('#sidebar').hasClass('active')) {
                $('.plot').css({'margin-left':'0', 'margin-right':'0', 'transition':'0.3s'});
            } else {
                $('.plot').css({'margin-right':'125px', 'margin-left':'125px', 'transition':'0.3s'});
            }
        });
    });
</script>

{% endblock %}