{% extends 'index.html' %}

{% block content %}

{% include 'global_stats.html' %}


<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary active">Plots</button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/testing_data' %} class="active" {% endif %}>
            <!--<a href="{{ url_for('global_data') }}">Data</a>-->
        </button>
    </div>
</div>


{% include 'plots/testing-plots.html' %}
{% endblock %}