{% extends 'index.html' %}

{% block content %}

<h2 class="title">Nearby Testing Centers</h2>
<br>
<p id="loc"></p>
<div style="padding: 10px 35%;">
    <div id="left"><i class="fas fa-chevron-circle-left fa-3x"></i></div>
    <div id="right"><i class="fas fa-chevron-circle-right fa-3x"></i></div>
    <div style="clear: both;"></div>
</div>
<div class="box text-center">
    <div style="color: white;" id="card">Loading...</div>  
</div>


<style>
    h1, h2, #card h3, h4, h5, h6 {
        text-align: center;
        color: white;
    }
    
    #card {
        width: 75%;
    }

    .box div {
        display: inline-block;
        vertical-align: top;
    }
    #left {
        float: left;
    }
    #right {
        float: right;
    }

    .fa-3x {
        color: white;
    }
    .fas:hover {
        color: #1ba0e3;
        transition: 0.3s;
    }

    #card table {
        text-align: center;
        margin: 0 auto;
        width: 50%;
    }
    #card td {
        height: 50px;
        text-align: center;
        color: white;
        padding: 10px 20px;
        border: black solid 1px;
    }

    .divider {
        width: 90%;
        height: 1px;
        border-bottom: 1px solid #ddd;
        margin: 0 0;
    }
</style>

<!--<script>
    var x = document.getElementById("loc");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        console.log(position.coords.latitude);
        console.log(position.coords.longitude);
        x.innerHTML = "Latitude: " + position.coords.latitude + 
        "<br>Longitude: " + position.coords.longitude;
    }
</script>-->


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{ url_for('static', filename='javascript/testing_centers.js') }}"></script>

{% endblock %}