{% extends 'index.html' %}

{% block content %}


<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/global_testing' %} class="active" {% endif %}>
            <a href="{{ url_for('global_testing') }}">Plots</a>
        </button>
        <button type="button" class="btn btn-primary active">Data</button>
    </div>
</div>
<br>
<div class="text-center" id="testing_data"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>

<style>
    #testing_data {
        width: 95%;
        margin: auto;
    }
    #testing_data th:hover {
        background-color: #007bff;
        border-color: #007bff;
        transition: 0.3s;
        cursor: pointer;
    }
    #testing_data th:active {
        background-color: #6610f2;
        border-color: #6610f2;
    }
    #testing_data td {
        color: white;
    }
</style>

<script src="{{ url_for('static', filename='javascript/testing_data.js') }}"></script>

{% endblock %}