{% extends 'index.html' %}

{% block content %}

{% include 'us_stats.html' %}

<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/us_states_map' %} class="active" {% endif %}>
            <a href="{{ url_for('us_states_map') }}">States</a>
        </button>
        <button type="button" class="btn btn-primary active">Counties</button>
        <button type="button" class="btn btn-primary" {% if request.endpoint == '/county_data' %} class="active" {% endif %}>
            <a href="{{ url_for('county_data') }}">Data</a>
        </button>
    </div>
</div>


<div class="plot" style="width: auto;">
    {% include 'plots/us-counties-map.html' %}
</div>


<style>
    @media (max-width: 768px) {
        .plot {
            transform: scale(1.1);
            margin-bottom: -80%;
        }
        .btn-group {
            padding-bottom: 30px;
        }
        .geolayer {
            transform: scale(1.32) translateY(-70%) translateX(-12%);
        }
        .plotly-graph-div, .plot-container, .svg-container, svg {
            height: 300px;
        } 
    }
</style>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // Keep us cases tab active
        $("#us_states_map").attr('id', 'us_counties_map');
        
        // Make sure plot stays centered when sidebar toggles
        $('#sidebarCollapse').click(function () {
            if ($('#sidebar').hasClass('active')) {
                $('.plot').css({'margin-left':'0', 'margin-right':'0', 'transition':'0.3s'});
            } else {
                $('.plot').css({'margin-right':'125px', 'margin-left':'125px', 'transition':'0.3s'});
            }
        });
    });
</script>



{% endblock %}