<div class="text-center">
    <div class="cases">
        <p class="text-white">Cases</p>
        <div id="cases"></div>
    </div>
    <div class="deaths">
        <p class="text-white">Deaths</p>
        <div id="deaths"></div>
    </div>
    <div class="recoveries">
        <p class="text-white">Recoveries</p>
        <div id="recoveries"></div>
    </div>
</div>


<style>
    .cases, .deaths, .recoveries {
        width: 33.33%;
        margin: auto;
        float: left;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 0;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
<!--
<script type="text/javascript" src="{{ url_for('static', filename='javascript/global_stats.js') }}"></script>
-->

<script>
    Papa.parse("https://raw.githubusercontent.com/datasets/covid-19/master/data/worldwide-aggregated.csv", {
        download: true,
        header: true,
        complete: getStats
    })

    function getStats(results) {
        var data = results.data;
        var cases = 0;
        var deaths = 0;
        var recoveries = 0;

        i = data.length - 1;
        if (data[i]["Date"] === "") i -= 1;
  
        var row = data[i];
        d = row["Date"];
        cases = parseInt(row["Confirmed"]).toLocaleString();
        deaths = parseInt(row["Deaths"]).toLocaleString();
        recoveries = parseInt(row["Recovered"]).toLocaleString();

        let casesString = "<h4 class='text-danger'><b>" + cases + "</b></h4>";
        let deathString = "<h4 class='text-warning'><b>" + deaths + "</b></h4>";
        let recoveriesString = "<h4 class='text-success'><b>" + recoveries + "</b></h4>";
        $("#cases").html(casesString);
        $("#deaths").html(deathString);
        $("#recoveries").html(recoveriesString);
    }
</script>