<div class="text-center">
    <div class="cases">
        <p class="text-dark">Total Confirmed Cases</p>
        <div id="cases"></div>
    </div>
    <div class="deaths">
        <p class="text-dark">Total Deaths</p>
        <div id="deaths"></div>
    </div>
    <div class="recoveries">
        <p class="text-dark">Total Recoveries</p>
        <div id="recoveries"></div>
    </div>
</div>


<style>
    .cases, .deaths, .recoveries {
        width: 33.33%;
        margin: auto;
        float: left;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 0;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
<!--
<script type="text/javascript" src="{{ url_for('static', filename='javascript/global_stats.js') }}"></script>
-->

<script>
    Papa.parse("https://raw.githubusercontent.com/datasets/covid-19/master/data/worldwide-aggregated.csv", {
        download: true,
        header: true,
        complete: getStats
    })

    function formatDate() {
        var d = new Date()
        d.setDate(d.getDate() - 1);
        var month = '' + (d.getMonth() + 1)
        var day = '' + d.getDate()
        var year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    }

    function getStats(results) {
        // create a date object using Date constructor 
        //var dateObj = new Date(); 
        // subtract one day from current time                           
        //dateObj.setDate(dateObj.getDate() - 1);
        var date = formatDate();
        //var table = "<table class='table table-bordered table-striped'>";
        var data = results.data;
        var cases = 0;
        var deaths = 0;
        var recoveries = 0;

        i = data.length - 1;
        if (data[i]["Date"] === "") i -= 1;
  
        var row = data[i];
        d = row["Date"];
        cases = parseInt(row["Confirmed"]);
        deaths = parseInt(row["Deaths"]);
        recoveries = parseInt(row["Recovered"]);
        
        /*
        for (i = 0; i < data.length; i++){
            //table = "<tr>";
            var row = data[i];
            d = row["Date"];
            console.log(row);
            if (d === date) {
                cases = parseInt(row["Confirmed"]);
                deaths = parseInt(row["Deaths"]);
                recoveries = parseInt(row["Recovered"]);
            }
            
            
            var cells = row.join(",").split(",");
            
            for (j = 0; j < cells.length; j++){
                table += "<td>";
                table += cells[j];
                table += "</th>";
            }
            table += "</tr>";
            
        }
        */
        let casesString = "<p class='text-danger'>" + cases + "</p>";
        let deathString = "<p class='text-muted'>" + deaths + "</p>";
        let recoveriesString = "<p class='text-success'>" + recoveries + "</p>";
        $("#cases").html(casesString);
        $("#deaths").html(deathString);
        $("#recoveries").html(recoveriesString);
    }
</script>